html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.barra {
    padding-top: 45px;
}
.logo{
    font-family: 'Permanent Marker', cursive;
    /* color: white */
}